/*----------------------------------------------- #||--colors--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */

    /* --APP */

    /* --DEPENDENCIES */

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */
    $drk: #0A0A0A;
    $lgh: #EDF7F6;
    $prm: #3F8EFC;
    $idc: #EF233C;
    $itr: rgba($drk, .5);

    $colors:
    (
        drk $drk,
        lgh $lgh,
        prm $prm,
        idc $idc,
        itr $itr
    );


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */


/* #\-THIS-\ */