/*----------------------------------------------- #||--display--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */

    /* --APP */

    /* --DEPENDENCIES */

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */


/* #\-MIXIN-\ */

    /* --* */
    @mixin grid($width: 0, $height: 0, $columns: 1, $rows: 1)
    {
        display: grid;

        @if type-of($width) == list { grid-template-columns: $width; }
        @else { grid-template-columns: repeat($columns, $width); }
        @if type-of($height) == list { grid-template-rows: $height; }
        @else { grid-template-rows: repeat($rows, $height); }
    }


/* #\-PLACEHOLDER-\ */

    /* --* */
    %f-column-center
    {
        @extend %f-center;

        flex-direction: column;
    }

    %f-center
    {
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    %f-column
    {
        display       : flex;
        flex-direction: column;
    }

    %f-j-center
    {
        display        : flex;
        justify-content: center;
    }

    %f-a-center
    {
        display    : flex;
        align-items: center;
    }


/* #\-THIS-\ */